header{
    background-color: rgb(187, 184, 184);
    border: solid 1px white;
    box-shadow: rgb(0, 0, 0) 10px;
    border-radius: 10px;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    padding: 100px;
    padding: 0.1rem;
    margin: 0 auto 0.5rem auto;
}
main{
    background-color: rgb(153, 152, 152);
    border: solid 1px white;
    box-shadow: rgb(0, 0, 0) 10px;
    border-radius: 10px;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    padding: 100px;
    padding: 0.1rem;
    margin: 0 auto 0.5rem auto;
}
footer{
    background-color: rgb(117, 117, 117);
    border: solid 1px white;
    box-shadow: rgb(0, 0, 0) 10px;
    border-radius: 10px;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    padding: 100px;
    padding: 0.1rem;
}