* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    background-color: #000000;
    display: grid;
    place-items: center;
}

.calculadora {
    background-color: #36383975;
    color: white;
    width: 330px;
    max-width: 100%;
    padding: 1.5rem;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .5rem;
    box-shadow: 0 0 50px #9e1717;
}

.pantalla {
    grid-column: 1 / 5;
    background-color: #000000;
    padding: 1.5rem;
    font-size: 2rem;
    text-align: right;
    border-radius: .5rem;
    margin-bottom: 1rem;
    font-family: monospace;
    font-weight: bold;
}

.btn {
    background-color: #791616;
    color: white;
    border: 0;
    padding: 1.5rem .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    cursor: pointer;
}

.btn:hover {
    background-color: #441414;
    font-weight: bold;
}

#igual {
    grid-column: span 2;
}

#igual:hover {
    background-color:  #046b04;
}

#ac:hover  {
    background-color:  #e8031a;
}

#borrar:hover  {
    background-color:  #e8031a;
}

.marcadeagua {
    place-content: flex-end;
    width: 100px
}
